{% extends "sprout-base/_layouts/basesettings" %}

{% block content %}

    {% if settingsForm %}
        <input type="hidden" name="action" value="{{ actionUrl }}">
        <input type="hidden" name="redirect" value="{{ redirectUrl|hash }}">

        <div id="settings-cp">

    {% endif %}

    {# Note: Must us include for the template below.
             Autosuggest Vue behavior doesn't work if set as variable output #}
    {% if settingsForm %}
        {% namespace 'settings' %}
            {% include [
                selectedSettingsInfo.template
                ] %}
        {% endnamespace %}
    {% else %}
        {% include [
            selectedSettingsInfo.template
            ] %}
    {% endif %}

    {% if settingsForm %}
        </div>
    {% endif %}

{% endblock %}

{% block settingsJs %}

{% endblock %}
