{% extends "sprout-base/_layouts/basesettings" %}

{% block content %}

    {% if settingsForm %}
        <input type="hidden" name="action" value="{{ actionUrl }}">
        <input type="hidden" name="redirect" value="{{ redirectUrl|hash }}">

        <div id="settings-cp">

    {% endif %}

    {% set templateHtml %}
        {# Display the selected settings template #}
        {% include [
            selectedSettingsInfo.template
            ] %}
    {% endset %}

    {% if settingsForm %}
        {% namespace 'settings' %}
            {{ templateHtml }}
        {% endnamespace %}
    {% else %}
        {{ templateHtml }}
    {% endif %}

    {% if settingsForm %}
        </div>
    {% endif %}

{% endblock %}

{% block settingsJs %}

{% endblock %}
