{% import "_includes/forms" as forms %}

{% if reports|length %}
    {% set reportInput %}
        <div class="select">
            <select id="reportId" name="reportId">
                {% for report in reports %}
                    <option value="{{ report.id }}"{% if report.id == reportId %} selected{% endif %}>{{ report.name|t('site') }}</option>
                {% endfor %}
            </select>
        </div>
    {% endset %}

    {{ forms.field({
        label: "Report"|t('app'),
        instructions: "Which report do you want to display?"|t('app'),
        id: 'section',
    }, reportInput) }}
{% else %}
    <p>{{ "No reports are available."|t('app') }}</p>
{% endif %}
