{% import "_includes/forms" as forms %}

<div class="sprout-phone-field compoundSelectText-wrapper">
    <div class="compoundSelectText-dropdown">
        {{ forms.select({
            name: name~'[country]',
            options: countries,
            value: country
        }) }}
    </div>
    <div class="compoundSelectText-text">
        {{ forms.text({
            id: id,
            name: name~'[phone]',
            value: value is defined ? value : '',
            placeholder: placeholder ?? null
        }) }}
    </div>
    <span class="sprout-phone-button {{ id }}"></span>
</div>