{% import "_includes/forms" as forms %}

{% macro address(config) %}
    {% include 'sprout-core/sproutfields/fields/address/input' with config %}
{% endmacro %}

{% macro email(config) %}
    {% include 'sprout-core/sproutfields/fields/email/input' with config %}
{% endmacro %}

{% macro emailSelect(config) %}
    {% include 'sprout-core/sproutfields/fields/emailselect/input' with config %}
{% endmacro %}

{% macro hidden(config) %}
    {% include 'sprout-core/sproutfields/fields/hidden/input' with config %}
{% endmacro %}

{% macro invisible(config) %}
    {% include 'sprout-core/sproutfields/fields/invisible/input' with config %}
{% endmacro %}

{% macro link(config) %}
    {% include 'sprout-core/sproutfields/fields/link/input' with config %}
{% endmacro %}

{% macro notes(config) %}
    {% include 'sprout-core/sproutfields/fields/notes/input' with config %}
{% endmacro %}

{% macro phone(config) %}
    {% include 'sprout-core/sproutfields/fields/phone/input' with config %}
{% endmacro %}

{% macro regularExpression(config) %}
    {% include 'sprout-core/sproutfields/fields/regularexpressio/input' with config %}
{% endmacro %}

{% macro selectOther(config) -%}
    {% include 'sprout-core/sproutfields/fields/selectother/input' with config only %}
{%- endmacro %}


{% macro emailField(config) %}
    {% import "_includes/forms" as forms %}
    {% import _self as sproutFields %}
    {{ forms.field(config, sproutFields.email(config)) }}
{% endmacro %}

{% macro linkField(config) %}
    {% import "_includes/forms" as forms %}
    {% import _self as sproutFields %}
    {{ forms.field(config, sproutFields.link(config)) }}
{% endmacro %}

{% macro phoneField(config) %}
    {% import "_includes/forms" as forms %}
    {% import _self as sproutFields %}
    {{ forms.field(config, sproutFields.phone(config)) }}
{% endmacro %}