{% extends "_layouts/cp" %}

{% do view.registerAssetBundle("barrelstrength\\sproutbase\\config\\web\\assets\\cp\\CpAsset") %}
{% do view.registerAssetBundle("barrelstrength\\sproutbase\\config\\web\\assets\\landing\\LandingAsset") %}

{% block content %}

    <div class="sprout-top-bar">
        {{ svg('@sproutbase/web/assets/cp/dist/images/sprout-icon.svg') }}
    </div>

{% endblock %}