{% requireAdmin %}

{% extends "_layouts/cp" %}
{% import 'sprout-base/_includes/sproutcp' as sprout %}

{% do view.registerAssetBundle("barrelstrength\\sproutbase\\config\\web\\assets\\cp\\CpAsset") %}

{% set crumbs = [
    { label: "Settings"|t('sprout'), url: cpUrl('settings') }
] %}

{% set selectedNavItem = 'settings' %}

{% set title = "Sprout Settings"|t('sprout') %}
{#{% set subnav = navItem.subnav %}#}
{#{% set currentSubsection = navItem.subnav[currentSubSectionHandle] %}#}


{% set redirectUrl = currentSubsection['url'] ?? craft.app.request.url %}
{% set actionUrl = currentSubsection['actionUrl'] ?? 'sprout/settings/save-settings' %}
{#{% set settingsForm = navItems[currentSubSectionHandle]['settingsForm'] ?? true %}#}

{% set fullPageForm = true %}

{% set sidebar %}
    <nav>
        <ul>
            {% if subnav|length %}
                {% for itemKey, item in subnav %}
                    {% if item.heading is defined and item.heading is not empty %}
                        <li class="heading"><span>{{ item.heading }}</span></li>
                    {% else %}
                        <li>
                            <a href="{{ url(item.url) }}"
                                {% if currentSubSectionHandle == itemKey %}class="sel"{% endif %}>
                                {{ item.label }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ul>
    </nav>
{% endset %}
