{% requirePermission "sprout:forms:viewEntries" %}

{% extends "sprout/_layouts/elementindex" %}
{% import "sprout/_includes/sproutcp" as sproutCp %}

{% set title = "Entries"|t('sprout') %}
{% set elementType = 'barrelstrength\\sproutbase\\app\\forms\\elements\\Entry' %}

{% block actionButton %}
    {% if config.getEnableUpgradeMessages() and config.isUpgradable() %}
        <div class="buttons">
            {{ sproutCp.upgradeToProButton({
                url: config.getUpgradeUrl(),
                title: config.getUpgradeMessage()
            }) }}
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {# @todo - visualization here. #}
    {{ parent() }}
{% endblock %}