{% requirePermission "sprout:forms:viewEntries" %}

{% extends "sprout/forms/_layouts/elementindex" %}
{% import "sprout/config/_includes/sproutcp" as sproutCp %}

{% set title = "Entries"|t('sprout') %}
{% set elementType = 'barrelstrength\\sproutbase\\app\\forms\\elements\\Entry' %}

{% do view.registerAssetBundle("barrelstrength\\sproutbase\\web\\assetbundles\\formentries\\FormEntriesAsset") %}

{% block actionButton %}
    {% if not isPro %}
        <div class="buttons">
            {{ sproutCp.upgradeToProButton({
                url: cpUrl('sprout/upgrade/forms'),
                title: "Upgrade to Sprout Forms PRO to manage Unlimited Forms"|t('sprout')
            }) }}
        </div>
    {% endif %}
{% endblock %}