{% import "_includes/forms" as forms %}

<div class="body">
    <h1>{{ 'Send Campaign'|t('sprout-email') }}</h1>

    <table class="data fullwidth">
        <tbody>
        <tr>
            <td><strong>{{ "Subject"|t('sprout-email') }}</strong></td>
            <td class="title">{{ campaignEmail.title }}</td>
        </tr>
        <tr>
            <td><strong>{{ "Delivery"|t('sprout-email') }}</strong></td>
            <td>
                <em>{{ "Clicking the button below will send your email
                    immediately and mark your email as sent."|t('sprout-email') }}</em>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="spinner hidden"></div>
</div>

<div class="footer">
    <div class="buttons right">
        <button
                class="btn submit actions"
                data-email-id="{{ campaignEmail.id }}"
                data-action="sprout-email/campaign-email/send-campaign-email"
        >{{ "Send Email Now"|t('sprout-email') }}
        </button>
    </div>
    <div class="buttons left secondary-buttons">
        <button id="close" class="btn">{{ "Cancel"|t('sprout-email') }}</button>
    </div>
</div>