{% extends "_layouts/cp" %}

{% set title = 'Sprout Forms'|t %}

{% set sidebar %}
    {% set selectedSidebarItem = "HI" %}
    <nav class="last">
        <ul>
            <li><a href="" class="sel">Overview</a></li>

            <li class="heading"><span>Settings</span></li>
            <li><a href="">General</a></li>

            <li><a href="{{ url('sproutforms/settings/advanced') }}" {% if selectedSidebarItem == 'advanced' %}class="sel"{% endif %}>{{ "Advanced"|t }}</a></li>

            <li class="heading"><span>{{ 'Examples'|t }}</span></li>

            <li><a href="{{ cpUrl('sproutforms/settings/examples') }}" {% if selectedSidebarItem == 'examples' %}class="sel"{% endif %}>Templates</a></li>

            <li class="heading"><span>{{ 'Integrations'|t }}</span></li>

            <li><a href="">Email</a></li>
            <li><a href="">Reports</a></li>
            <li><a href="">Import</a></li>

        </ul>
    </nav>

{% endset %}

{% block content %}

    <iframe src="https://player.vimeo.com/video/133950017" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

{% endblock %}