{% from "_includes/forms" import textField %}
{% from "_includes/forms" import textareaField %}
{% import 'sprout-base-config/_includes/sproutcp' as sprout %}

{{ textField({
    label: "Subject Line"|t('sprout'),
    id: 'subjectLine',
    name: 'subjectLine',
    value: notificationEmail.subjectLine,
    errors:  notificationEmail is defined ? notificationEmail.getErrors('subjectLine') : null,
    first: true,
    autofocus: true,
    required: true,
    maxlength: 255
}) }}

{% set tabs = notificationEmail.getFieldLayout().getTabs() %}

{% if tabs|length %}

    {% for tab in notificationEmail.getFieldLayout().getTabs() %}
        <div id="tab{{ loop.index }}"{% if not loop.first %} class="hidden"{% endif %}>
            {% include "_includes/fields" with {
                fields:  tab.getFields(),
                element: notificationEmail,
                static:  static is defined ? static : false
            } only %}
        </div>
    {% endfor %}

{% else %}

    {{ textareaField({
        label: "Body"|t('sprout'),
        warning: "**&#42;&#42;bold&#42;&#42;**&nbsp;&nbsp;_&#95;italics&#95;_&nbsp;&nbsp;&#91;Link Name&#93;(https&#58;//website.com)"|t('sprout'),
        instructions: "Add a message for your Basic Notification template. Leave blank if no message is desired."|t('sprout'),
        id: 'defaultBody',
        name: 'defaultBody',
        value: notificationEmail.defaultBody,
        errors:  notificationEmail is defined ? notificationEmail.getErrors('defaultBody') : null,
        autofocus: true,
        rows: 15
    }) }}

{% endif %}

{% css %}
    #defaultBody-field .warning:before {
    content: none
    }
    #defaultBody-field .warning {
    color: rgb(143, 152, 163) !important;
    display: none;
    float: right;
    font-size: 11px;
    }
{% endcss %}

{% js %}
    $(document).ready(function() {
    $('#defaultBody').on('focus', function() {
    $('#defaultBody-field .warning').fadeIn();
    });
    $('#defaultBody').on('blur', function() {
    $('#defaultBody-field .warning').fadeOut();
    });
    });
{% endjs %}
