{% extends "sprout-base-email/_layouts/elementindex" %}
{% set title = "Notification Email"|t('sprout-base') %}
{% set elementType = 'barrelstrength\\sproutbase\\app\\email\\elements\\NotificationEmail' %}

{% set currentPluginHandle = craft.app.request.getSegment(1) %}
{% set selectedSiteId = craft.app.sites.currentSite.id %}
{% block actionButton %}
    <div class="buttons">
        <a id="sprout-notification-new-button" class="btn submit add icon"
           href="{{ url(currentPluginHandle ~ '/notifications/edit/new/default') }}">
            {{ "New Notification"|t('sprout-base') }}
        </a>
    </div>
{% endblock %}

{% block content %}

    {{ parent() }}

    {% include "sprout-base-email/_modals/base" %}

{% endblock %}

{% block initJs %}
    // Pass segment to the NotificationEmailQuery class to filter notification entries
    var pluginHandle = {'base': '{{ craft.app.request.getSegment(1) }}'};
    var criteria = Object.assign(Craft.defaultIndexCriteria, pluginHandle);

    Craft.elementIndex = Craft.createElementIndex('{{ elementType|e("js") }}', $('#main'), {
        context:        '{{ context }}',
        storageKey:     'elementindex.{{ elementType }}',
        criteria:       criteria,
        hideSidebar:    '{{ hideSidebar ?? false }}'
    });

    $('#main-content').removeClass('has-sidebar');


    (function($) {
        var NotificationIndex = Garnish.Base.extend({
            $menu: null,
            $form: null,

            /**
             * The constructor.
             */
            init: function() {
                var $siteMenu = $('.sitemenubtn:first').menubtn().data('menubtn').menu;
                var self = this;
                self.setNewUrl();
                // Change the siteId when on hidden values
                $siteMenu.on('optionselect', function(ev) {
                    self.setNewUrl();
                });
            },
            setNewUrl: function() {
                var uri = '';
                for (var i = 0; i < Craft.sites.length; i++) {
                    if (Craft.sites[i].id == Craft.elementIndex.siteId) {
                        uri += 'sprout-email/notifications/edit/new/' + Craft.sites[i].handle;
                        uri = Craft.getUrl(uri);

                        $("#sprout-notification-new-button").attr("href", uri);
                    }
                }
            }
        });

        window.NotificationIndex = NotificationIndex;

    })(jQuery);

{% endblock %}

{% js %}
jQuery(document).ready(function() {
    new NotificationIndex();
});
{% endjs %}
