{% extends "sprout/seo/_layouts/global-metadata" %}
{% import "_includes/forms" as forms %}
{% import "sprout/seo/_includes/sproutseo" as sproutMetaCp %}

{% set robots = sprout.app.optimizeMetadata.prepareRobotsMetadataForSettings(globals.robots) %}

{% block content %}

    <form method="post" accept-charset="UTF-8" data-saveshortcut>
        {{ csrfInput() }}
        <input type="hidden" name="action"
            value="sprout/global-metadata/save-global-metadata">
        <input type="hidden" name="globalColumn" value="robots">
        <input type="hidden" name="siteId" value="{{ globals.siteId }}">

        {% set redirectUrl = craft.app.request.pathInfo~'?site='~currentSite.handle %}
        <input type="hidden" name="redirect" value="{{ redirectUrl|hash }}">

        {% set robotsContext = 'globals' %}
        {% set robotsNamespace = 'sproutseo[globals][robots]' %}
        {% include "sprout/seo/_components/fields/elementmetadata/blocks/robots" %}

        <hr>

        <div class="buttons">
            <input type="submit" class="btn submit" value="Save"/>
        </div>

    </form>

{% endblock %}