{% import "_includes/forms" as forms %}

{{ forms.checkboxField({
    label: "When entry is created?"|t('sprout-email'),
    name: "whenNew",
    checked: event.whenNew
}) }}

{{ forms.checkboxField({
    label: "When entry is updated?"|t('sprout-email'),
    name: "whenUpdated",
    checked: event.whenUpdated
}) }}

{{ forms.checkboxSelectField({
    label: "Sections <span class='info'>Select which sections will trigger the notification</span>"|t('sprout-email'),
    name: "sectionIds",
    options: event.availableSections,
    values: event.sectionIds,
    errors: event is defined ? event.getErrors('sectionIds') : null,
    showAllOption: true
}) }}
