
.sprout-redirects-index table thead th[data-attribute="oldUrl"] {
    min-width: 180px;
}

.sprout-redirects-elementindex-input {
    background-color: inherit;
    border:none;
    width:96%;
}
            