{% extends "sprout/_layouts/elementindex" %}
{% import "sprout/_includes/sproutcp" as sproutCp %}

{% do view.registerAssetBundle("barrelstrength\\sproutbase\\web\\assetbundles\\sproutcp\\SproutCpAsset") %}

{% set title = "Sent Email"|t('sprout') %}
{% set elementType = 'barrelstrength\\sproutbase\\app\\sentemail\\elements\\SentEmail' %}

{% block actionButton %}

    {% if config.getEnableUpgradeMessages() and config.isUpgradable() %}
        <div class="buttons">
            {{ sproutCp.upgradeToProButton({
                url: config.getUpgradeUrl(),
                title: config.getUpgradeMessage()
            }) }}
        </div>
    {% endif %}

{% endblock %}

{% block sidebar %}

    {% set customizableSources = false %}

    {{ parent() }}

{% endblock %}

{% block content %}

    {{ parent() }}

    {% include "sprout/notifications/_modals/base" %}

{% endblock %}