<div class="sproutforms-exampleinput-customhtml">

    <div class="customhtml-icon">{{ svg('@sproutbaseassets/icons/code.svg') }}</div>
    <p>{{ "This field will display your Custom HTML on your front-end form."|t('sprout') }}</p>

</div>