{% import "_includes/forms" as forms %}

{{ forms.text({
  id: id,
  name: name,
  value: (value is defined) ? value : '',
  placeholder: placeholder ?? null,
}) }}

<span class="sprout-link-button {{ id }}"></span>

{% do view.registerAssetBundle("barrelstrength\\sproutcore\\web\\assets\\sproutfields\\link\\LinkFieldAsset") %}

{% js %}

(function() {
	checkSproutLinkField("{{ namespaceInputId }}", "{{ id }}", "{{ name }}", "{{ fieldContext }}");
})();

$('input#{{ namespaceInputId }}').on('input', function () {
	checkSproutLinkField("{{ namespaceInputId }}", "{{ id }}", "{{ name }}", "{{ fieldContext }}");
});

{% endjs %}