{% extends "sprout-base-email/_layouts/preview" %}

{% block previewBody %}

    <section class="sentemail-pane sentemail-html active">

        {% if email.htmlBody %}
            <iframe width='100%'
                src="data:text/html;charset=utf-8,{{ email.htmlBody|raw|url_encode }}"></iframe>
        {% else %}
            <h3>{{ "No HTML Content Found"|t('sprout') }}</h3>
        {% endif %}

    </section>

    <section class="sentemail-pane sentemail-text">

        {% if email.body %}
            <pre>{{ email.body }}</pre>
        {% else %}
            <h3>{{ "No Text Content Found"|t('sprout') }}</h3>
        {% endif %}

    </section>

{% endblock %}