{% if visualization %}
    {{ visualization.getVisualizationHtml({
        chart:{
            height:300,
            toolbar: {
                show:false
            }
        }
    })|raw }}
    <a href="{{ reportIndexUrl }}">{{ "View report"|t('sprout') }}</a>
{% else %}
    {{ "Visualization not found"|t('sprout') }}
{% endif %}

{% do view.registerAssetBundle("barrelstrength\\sproutbase\\web\\assetbundles\\reports\\SproutReportsAsset") %}