@import "../../../../../../../../../sprout-base/lib/craftcms-sass/mixins";

.sprout-link-button svg path {
    fill: $grey;
}

.sprout-link-button svg:hover path {
    fill: $black;
}

.sprout-link-button {
    background-color: #ffffff;
    display: inline-block;
    height: 14px;
    opacity: 0;
    padding: 8px 6px 8px 6px;
    position: absolute;
    right: 1px;
    top: 1px;
    -moz-transition: opacity .15s ease-in-out;
    -webkit-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
    width: 14px;
}

.fade {
    opacity: 1;
}