{% extends "_layouts/cp" %}

{% do view.registerAssetBundle("barrelstrength\\sproutbase\\web\\assetbundles\\sproutcp\\SproutCpAsset") %}
{% do view.registerAssetBundle("barrelstrength\\sproutbase\\web\\assetbundles\\landing\\LandingAsset") %}

{% block content %}

    <div class="sprout-top-bar">
        {{ svg('@sproutbase/web/assets/cp/dist/images/sprout-icon.svg') }}
    </div>

{% endblock %}