{% extends "_layouts/cp" %}

{% do view.registerAssetBundle("barrelstrength\\sproutbase\\web\\assets\\cp\\CpAsset") %}
{% do view.registerAssetBundle("barrelstrength\\sproutbase\\web\\assets\\landing\\LandingAsset") %}

{% block content %}

    <div class="sprout-top-bar">
        {{ svg('@sproutbase/web/assets/cp/dist/images/sprout-icon.svg') }}
    </div>

{% endblock %}

{% css %}
    /* Override Default Craft Header */
    header#header h1 {
    display: none !important;
    }

    @media only screen and (min-width: 1223px) {
    header#header {
    background-color: rgb(71, 182, 73) !important;
    height: 5px !important;
    padding: 0 !important;
    }
    }
{% endcss %}