{% requireAdmin %}

{% extends "_layouts/cp" %}
{% import "sprout/_includes/sproutcp" as sproutCp %}

{% do view.registerAssetBundle("barrelstrength\\sproutbase\\web\\assetbundles\\sproutcp\\SproutCpAsset") %}

{% set crumbs = [
    { label: "Settings"|t('sprout'), url: cpUrl('settings') }
] %}

{% set selectedNavItem = 'settings' %}

{% set title = "Sprout Settings"|t('sprout') %}

{% set redirectUrl = currentSection['url'] ?? craft.app.request.url %}
{% set actionUrl = currentSection['actionUrl'] ?? 'sprout/settings/save-settings' %}

{% set fullPageForm = true %}

{% block contextMenu %}
    {% if craft.app.getIsMultiSite() and showMultiSiteSettings %}
        {% include "_elements/sitemenu" with {
            selectedSiteId: currentSite.id,
            urlFormat: craft.app.request.pathInfo~"?site={handle}"
        } %}
    {% endif %}
{% endblock %}

{% set sidebar %}
    <nav>
        <ul>
            {% if subnav|length %}
                {% for itemKey, item in subnav %}
                    {% if item.heading is defined and item.heading is not empty %}
                        <li class="heading"><span>{{ item.heading }}</span></li>
                    {% else %}
                        <li>
                            <a href="{{ cpUrl(item.url) }}"
                                {% if currentSubNavKey == itemKey %}class="sel"{% endif %}>
                                {{ item.label }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ul>
    </nav>
{% endset %}
