{% extends "sprout/notifications/_layouts/preview" %}

{% block previewBody %}

    {% set previewUrl = actionUrl('sprout/email-preview/share-email?emailId='~email.id) %}

    <section class="sentemail-pane sentemail-html active">
        <iframe id="preview-html" src="{{ previewUrl }}"></iframe>
    </section>

    <section class="sentemail-pane sentemail-text">
        <iframe id="preview-text" src="{{ previewUrl }}&type=text"></iframe>
    </section>

{% endblock %}

