{% extends "sprout/notifications/_layouts/preview" %}

{% block previewBody %}

    <section class="sentemail-pane sentemail-html active">
        <iframe id="preview-html" src="{{ emailUrl }}"></iframe>
    </section>

    <section class="sentemail-pane sentemail-text">
        <iframe id="preview-text" src="{{ emailUrl }}&type=text"></iframe>
    </section>

{% endblock %}

