{% import "_includes/forms" as forms %}

{# Form Input Macros #}

{% macro address(config) %}
    {% include 'sprout-base/sproutfields/_includes/forms/address/input' with config %}
{% endmacro %}

{% macro email(config) %}
    {% include 'sprout-base/sproutfields/_includes/forms/email/input' with config %}
{% endmacro %}

{% macro emailSelect(config) %}
    {% include 'sprout-base/sproutfields/_includes/forms/emailselect/input' with config %}
{% endmacro %}

{% macro hidden(config) %}
    {% include 'sprout-base/sproutfields/_includes/forms/hidden/input' with config %}
{% endmacro %}

{% macro invisible(config) %}
    {% include 'sprout-base/sproutfields/_includes/forms/invisible/input' with config %}
{% endmacro %}

{% macro notes(config) %}
    {% include 'sprout-base/sproutfields/_includes/forms/notes/input' with config %}
{% endmacro %}

{% macro phone(config) %}
    {% include 'sprout-base/sproutfields/_includes/forms/phone/input' with config %}
{% endmacro %}

{% macro regularExpression(config) %}
    {% include 'sprout-base/sproutfields/_includes/forms/regularexpressio/input' with config %}
{% endmacro %}

{% macro selectOther(config) -%}
    {% include 'sprout-base/sproutfields/_includes/forms/selectother/input' with config only %}
{%- endmacro %}

{% macro url(config) %}
    {% include 'sprout-base/sproutfields/_includes/forms/url/input' with config %}
{% endmacro %}

{# Form Field Macros #}

{% macro emailField(config) %}
    {% import "_includes/forms" as forms %}
    {% import _self as sproutFields %}
    {{ forms.field(config, sproutFields.email(config)) }}
{% endmacro %}

{% macro phoneField(config) %}
    {% import "_includes/forms" as forms %}
    {% import _self as sproutFields %}
    {{ forms.field(config, sproutFields.phone(config)) }}
{% endmacro %}

{% macro urlField(config) %}
    {% import "_includes/forms" as forms %}
    {% import _self as sproutFields %}
    {{ forms.field(config, sproutFields.url(config)) }}
{% endmacro %}