{% import "_includes/forms" as forms %}
{% import 'sprout-core/sproutcore/_includes/sproutcp' as sprout %}
{% do view.registerAssetBundle("barrelstrength\\sproutcore\\web\\sproutcore\\cp\\CpAsset") %}

{% set boxBody %}
	<p>{{ "Sprout SEO works beautifully with <a href='{url}' target='_blank'>Craft Commerce</a>. Generate product-specific metadata for Search and Social Sharing, build flexible Structured Data, and dynamically add all of your products to your XML sitemap."|t({
			url: "https://craftcommerce.com/"
		})|raw }}</p>
{% endset %}

{{ sprout.mediaBox({
	heading: "Optimize SEO for Craft Commerce"|t('sprout-core'),
	body: boxBody,
    resourcePath: '@sproutcore/web/craftcommerce/dist/images/craftcommerce-icon.svg'
}) }}

