{% extends "sprout-base/sproutbase/_layouts/basesettings" %}

{% block content %}

    {% if settingsForm %}
        <input type="hidden" name="action" value="{{ actionUrl }}">
        <input type="hidden" name="redirect" value="{{ redirectUrl|hash }}">

        <div id="settings-cp">

    {% endif %}

    {% namespace (settingsForm ? 'settings' : '') %}

        {# Display the selected settings template #}
        {% include [
            selectedSettingsInfo.template
            ] %}

    {% endnamespace %}

    {% if settingsForm %}
        </div>
    {% endif %}

{% endblock %}
