{% from "_includes/forms" import textField %}
{% from "_includes/forms" import textareaField %}

{{ textField({
    label: "Subject Line"|t('sprout-base'),
    id: 'subjectLine',
    name: 'subjectLine',
    value: notificationEmail.subjectLine,
    errors:  notificationEmail is defined ? notificationEmail.getErrors('subjectLine') : null,
    first: true,
    autofocus: true,
    required: true,
    maxlength: 255
}) }}

{{ textareaField({
    label: "Body"|t('sprout-base'),
    id: 'body',
    name: 'body',
    value: notificationEmail.body,
    errors:  notificationEmail is defined ? notificationEmail.getErrors('body') : null,
    autofocus: true,
    required: true,
    rows: 8
}) }}

<div>
    {% for tab in notificationEmail.getFieldLayout().getTabs() %}
        <div id="tab{{ loop.index }}"{% if not loop.first %} class="hidden"{% endif %}>
            {% include "_includes/fields" with {
                fields:  tab.getFields(),
                element: notificationEmail,
                static:  static is defined ? static : false
            } only %}
        </div>
    {% endfor %}
</div>
