{% extends "sprout-base/sproutbase/_layouts/base" %}
{% import "_includes/forms" as forms %}
{% import "sprout-base/sproutfields/forms" as sproutFields %}

{% if notificationEmail.id is null %}
    {% set notificationId = 'new' %}
{% else %}
    {% set notificationId = notificationEmail.id %}
{% endif %}
{% set currentPluginHandle = craft.app.request.getSegment(1) %}

{% set crumbs = [
    { label: "Notifications"|t('sprout-base'), url: url(currentPluginHandle ~ '/notifications') },
    { label: "Settings"|t('sprout-base'), url: url(currentPluginHandle ~ '/settings/notifications/edit/' ~ notificationId) },
] %}

{% set title  = notificationEmail is defined ? notificationEmail.title : 'Create a new Notification Email'|t('sprout-base') %}

{% set fullPageForm = true %}
{% set saveShortcutRedirect = url(currentPluginHandle ~ '/notifications/edit/' ~ notificationId) %}

{% block header %}

    {{ block('pageTitle') }}
    {{ block('contextMenu') }}

    {#<div class="flex-grow"></div>#}
    {#{% if showPreviewBtn or shareUrl is not null %}#}
    {#{% if showPreviewBtn %}#}
    {#<div class="btn livepreviewbtn">{{ "Live Preview"|t('app') }}</div>#}
    {#{% endif %}#}
    {#{% if shareUrl is defined %}#}
    {#<a href="{{ shareUrl }}" class="btn sharebtn"#}
    {#target="_blank">{{ 'Share'|t('app') }}</a>#}
    {#{% endif %}#}
    {#<div class="flex-grow"></div>#}
    {#{% endif %}#}

    {{ block('actionButton') }}

{% endblock %}

{% block actionButton %}

    <div class="buttons">
        <div class="btngroup">
            <input class="btn submit" type="submit"
                   value="{{ 'Save'|t('sprout-base') }}">
            <div class="btn submit menubtn"></div>
            <div class="menu">
                <ul>
                    <li><a class="formsubmit"
                           data-redirect="{{ saveShortcutRedirect|hash }}">
                            {{ "Save and continue editing"|t('sprout-base') }}
                            <span
                                    class="shortcut">⌘S</span></a></li>
                    <li><a class="formsubmit"
                           data-redirect="{{ currentPluginHandle }}/settings/notifications/edit/new">
                            {{ "Save and add another"|t('sprout-base') }}</a>
                    </li>
                </ul>
                <hr>
                <ul>
                    <li>
                        <a href="{{ cpUrl(currentPluginHandle ~ '/settings/notifications/edit/' ~ notificationId) }}">
                            {{ "Edit Field Layout"|t('sprout-base') }}</a>
                    </li>
                </ul>
                {% if notificationEmail.id is not null %}
                    <hr>
                    <ul>
                        <li><a class="formsubmit error"
                               data-action="sprout-base/notifications/delete-notification-email"
                               data-confirm="{{ 'Are you sure you want to delete this notification email?'|t('sprout-base') }}"
                               data-redirect="{{ currentPluginHandle ~ "/notifications"|hash }}">{{ "Delete"|t('sprout-base') }}</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}
    <input type="hidden" name="action"
           value="sprout-base/notifications/save-notification-email">
    {{ redirectInput(currentPluginHandle ~ '/notifications') }}
    {% if notificationEmail.id is not null %}
        <input type="hidden" name="emailId" value="{{ notificationEmail.id }}">
    {% endif %}

    {% if namespace is not defined %}{% set namespace = 'fields' %}{% endif %}

    <div id="fields">
        {% include "sprout-base/sproutemail/notifications/_partials/fields" %}
    </div>

{% endblock %}

{% block details %}

    <div class="meta read-only sprout-meta-heading">
        <h6>{{ "Sender"|t('sprout-base') }}</h6>
    </div>
    <hr>
    <div class="meta">

        {{ forms.textField({
            label: "From Name <span class='info'>The person or business sending the email</span>"|t('sprout-base'),
            name: 'fromName',
            placeholder: siteName,
            value: notificationEmail.fromName is not empty ? notificationEmail.fromName : '',
            errors: notificationEmail is defined ? notificationEmail.getErrors('fromName') : null,
            required: true
        }) }}

        {{ forms.textField({
            name: 'fromEmail',
            label: "From Email <span class='info'>The email address of the person or business sending the email</span>"|t('sprout-base'),
            placeholder: currentUser.email,
            value: notificationEmail.fromEmail is not empty ? notificationEmail.fromEmail : '',
            errors: notificationEmail is defined ? notificationEmail.getErrors('fromEmail') : null,
            required: true
        }) }}

        {{ forms.textField({
            name: 'replyToEmail',
            label: "Reply To <span class='info'>The email address which will be used if any recipients reply to your email. Defaults to use From Email.</span>"|t('sprout-base'),
            placeholder: currentUser.email,
            value: notificationEmail.replyToEmail is not empty ? notificationEmail.replyToEmail : '',
            errors: notificationEmail is defined ? notificationEmail.getErrors('replyToEmail') : null
        }) }}

    </div>

    <hr>

    <div class="meta read-only sprout-meta-heading">
        <h6>{{ "Recipients"|t('sprout-base') }}</h6>
    </div>
    <hr>
    <div class="meta">

        {{ forms.textField({
            label: "Recipients <span class='info'>A comma separated list of email addresses.</span>"|t('sprout-base'),
            placeholder: "user@domain.com, other@domain.com"|t('sprout-base'),
            name: "recipients",
            fieldClass: 'field-border-top',
            class: "code",
            value: notificationEmail is defined ? notificationEmail.recipients : "",
            errors: notificationEmail is defined ? notificationEmail.getErrors('recipients')
        }) }}

        {% if (mailer is not null and mailer.getLists()|length) %}
            <div class="field mailing-lists">
                <div class="heading">
                    Lists
                </div>
                <div class="input">
                    {% namespace 'lists' %}
                        {{ mailer.getListsHtml(notificationEmail.listSettings)|raw }}
                    {% endnamespace %}
                </div>
            </div>
        {% endif %}

    </div>

    <hr>

    <div class="meta read-only sprout-meta-heading">
        <h6>{{ "Event"|t('sprout-base') }}</h6>
    </div>
    <hr>
    <div class="meta">

        {% if events|length %}

            {% set eventOptions =  [{label: "Select event..."|t('sprout-base'), value: null}]|merge(events) %}

            {% if (events|length == 1) %}
                {% set eventOptions = events %}
            {% endif %}

            {{ forms.selectField({
                id: "notificationEvent",
                name: "eventId",
                label: "Event <span class='info'>The event that will trigger your notification.</span>"|t('sprout-base'),
                fieldClass: 'field-border-top',
                options: eventOptions,
                value: notificationEmail.eventId is defined ? notificationEmail.eventId : null,
            }) }}

            {% for id, event in events %}
                {% if event.getSettingsHtml is defined %}

                    {# Avoid jquery get object error. #}
                    <div class="field event-options {{ event.getEventId() }}">
                        <div class="heading">
                            Settings
                        </div>
                        <div class="input">
                            {% set options = craft.sproutbase.getEventSelectedOptions(event, notificationEmail) %}

                            {{ event.getSettingsHtml({
                                options: options
                            })|raw }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            {{ forms.lightswitchField({
                first: true,
                label: "Attach Files <span class='info'>All files submitted with your entries will be attached to the notification email</span>"|t('sprout-base'),
                id: 'enableFileAttachments',
                name: 'enableFileAttachments',
                on: notificationEmail.enableFileAttachments,
                onLabel: "Enable"|t('sprout-base'),
                offLabel: "Disable"|t('sprout-base')
            }) }}

        {% endif %}

    </div>

    <hr>

    <div class="meta read-only sprout-meta-heading">
        <h6>{{ "General Settings"|t('sprout-base') }}</h6>
    </div>
    <hr>
    <div class="meta">

        {{ forms.textField({
            label: "Title Format <span class='info'>Update the Notification Email Title in the Control Panel to follow a pattern.</span>"|t('sprout-base'),
            id: 'titleFormat',
            name: 'titleFormat',
            value: notificationEmail is defined ? notificationEmail.titleFormat : null,
            autofocus: true,
            first: true,
            errors: notificationEmail is defined ? notificationEmail.getErrors('titleFormat') : null
        }) }}

        {{ forms.textField({
            label: "Slug"|t('sprout-base'),
            id: 'slug',
            name: 'slug',
            value: notificationEmail.slug,
            errors: notificationEmail ? notificationEmail.getErrors('slug')|merge(notificationEmail.getErrors('uri')),
        }) }}

        {{ forms.field({
            label: "Templates <span class='info'>The Email Templates to display your email.</span>"|t('sprout-base'),
            errors: notificationEmail is defined ? notificationEmail.getErrors('template') : null,
        }, sproutFields.selectOther({
            name: 'template',
            options: notificationEmail.getTemplateOptions(),
            value: notificationEmail is defined ? notificationEmail.template : null,
            otherPlaceholderText: '_email/emailtemplate'|t('sprout-email')
        })) }}

        {{ forms.lightswitchField({
            label: "Status"|t('sprout-base'),
            id: 'enabled',
            name: 'enabled',
            on: notificationEmail.enabled
        }) }}

    </div>

{% endblock %}

{% do view.registerAssetBundle("craft\\web\\assets\\fields\\FieldsAsset") %}

{% css %}
    .sprout-meta-heading h6 {
    color:#333;
    }
{% endcss %}

{% if not notificationEmail.slug %}
    {% includeJs "window.slugGenerator = new Craft.SlugGenerator('#subjectLine', '#slug');" %}
{% endif %}

{% js %}
    $(document).ready(function() {
    // add support for select other field
    if (Craft.SproutFields != null) {
    Craft.SproutFields.initFields($("#details"));
    }
    });
{% endjs %}