{% import "_includes/forms" as forms %}
{% import "sprout-base-fields/_includes/forms" as sproutFields %}

{% block content %}

    <div id="settings-cp">

    {{ forms.textField({
        label: "Plugin Name"|t('sprout-email'),
        instructions: "Intuitive, human-readable plugin name for the end user."|t('sprout-email'),
        id: 'pluginNameOverride',
        name: 'pluginNameOverride',
        value: settings.pluginNameOverride,
        autofocus: true,
        first: true,
        errors: ''
    }) }}

    {% set advancedInput %}
        <table class="data" style="width: auto;">
            <thead>
            <tr>
                <th scope="col">{{ "Feature"|t('sprout-email') }}</th>
                <th scope="col">{{ "Enabled?"|t('sprout-email') }}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <label for="enableNotificationEmails">{{ "Enable Notifications?"|t('sprout-email') }}</label>
                </td>
                <td class="centeralign">
                    <div>
                        {{ forms.lightswitch({
                            name: 'enableNotificationEmails',
                            on: settings.enableNotificationEmails,
                            small: true
                        }) }}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="enableCampaignEmails">{{ "Enable
                    Campaigns?"|t('sprout-email') }}</label>
                </td>
                <td class="centeralign">
                    <div>
                        {{ forms.lightswitch({
                            name: 'enableCampaignEmails',
                            on: settings.enableCampaignEmails,
                            small: true
                        }) }}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="enableSentEmails">{{ "Enable Sent Email
                    tracking?"|t('sprout-email') }}</label>
                </td>
                <td class="centeralign">
                    <div>
                        {{ forms.lightswitch({
                            name: 'enableSentEmails',
                            on: settings.enableSentEmails,
                            small: true
                        }) }}
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    {% endset %}

    {{ forms.field({
        label: "Choose which features to enable"|t('sprout-email'),
        instructions: "Disabled items will be removed from the sidebar navigation and no longer accessible in the Control Panel."|t('sprout-email')
    }, advancedInput) }}

    {% set templateOptions = craft.sproutEmail.getEmailTemplateOptions() %}

    {{ forms.field({
        label: "Default Email Templates"|t('sprout-email'),
        required: true,
        errors: (settings is defined ? settings.getErrors('emailTemplateId') :
        null),
        instructions: "The templates that will be used to output your email. Add additional form templates via the Email Templates API or providing a custom path to your email template folder."|t('sprout-email'),
    }, sproutFields.selectOther({
        name: 'emailTemplateId',
        options: templateOptions,
        value: settings.emailTemplateId ?? null,
        otherPlaceholderText: '_email/email-templates-folder'|t('sprout-email')
    })) }}

    {{ forms.lightswitchField({
        label: "Enable custom Email Templates on a per-email
    basis"|t('sprout-forms'),
        instructions: "Allow admins to (optionally) add custom email templates for each email created. Enabling this setting will display the Email Template dropdown field for every Notification Email Element."|t('sprout-email'),
        id: 'enablePerEmailEmailTemplateIdOverride',
        name: 'enablePerEmailEmailTemplateIdOverride',
        on: settings.enablePerEmailEmailTemplateIdOverride,
        onLabel: "Enable"|t('sprout-email'),
    }) }}

{% endblock %}