{% import "_includes/forms" as forms %}
{% import 'sprout-base/_includes/sproutcp' as sprout %}

{% set boxBody %}
    <p>{{ "Use Sprout Email alongside <a href='{pluginStoreUrl}'>Sprout Reports</a> to send Notification Emails to custom Mailing Lists. Build dynamic and targeted Mailing Lists and Segments using all the power of the custom reporting engine in Sprout Reports."|t('sprout', {
            pluginStoreUrl: url('plugin-store/sprout-reports')
        })|raw }}</p>
{% endset %}

{{ sprout.mediaBox({
    heading: "Mailing Lists"|t('sprout'),
    body: boxBody,
    resourcePath: '@sproutbase/web/assets/cp/dist/images/sprout-icon.svg',
}) }}
