@import "../../../../../../../../../sprout-base/lib/craftcms-sass/mixins";

.sprout-phone-button svg path {
    fill: $grey;
}

.sprout-phone-button svg:hover path {
    fill: $black;
}

.sprout-phone-button {
    background-color: #ffffff;
    display: inline-block;
    height: 14px;
    opacity: 0;
    padding: 8px 6px 8px 6px;
    position: absolute;
    right: 1px;
    top: 1px;
    -moz-transition: opacity .15s ease-in-out;
    -webkit-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
    width: 14px;
}

.fade {
    opacity: 1;
}

.sprout-phone-field.compoundSelectText-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sprout-phone-field .compoundSelectText-text {
    flex-grow: 1;
    margin-left: 10px;
}

@media (max-width: 600px) {
    .sprout-phone-field.compoundSelectText-wrapper {
        flex-direction: column;
    }

    .sprout-phone-field .compoundSelectText-dropdown .select,
    .sprout-phone-field .compoundSelectText-dropdown select {
        width: 100%;
    }

    .sprout-phone-field .compoundSelectText-text {
        flex-grow: 1;
        margin-left: 0;
        margin-top: 10px;
    }
}