{% import "_includes/forms" as forms %}

{{ forms.selectField({
    label: "Select Language"|t('sprout-base'),
    instructions: "Choose the language to display the list of countries."|t('sprout-base'),
    id: 'defaultLanguage',
    name: 'defaultLanguage',
    options: languages,
    value: field.defaultLanguage
}) }}

{{ forms.selectField({
    label: "Default Country"|t('sprout-base'),
    instructions: "Choose a default country input."|t('sprout-base'),
    id: 'defaultCountry',
    name: 'defaultCountry',
    options: countries,
    value: field.defaultCountry
}) }}

{{ forms.lightswitchField({
    label: "Show country dropdown"|t,
    instructions: 'Disable this setting to use the Default Country when saving the address field.'|t('sprout-base'),
    id: 'showCountryDropdown',
    name: 'showCountryDropdown',
    on: field.showCountryDropdown,
    toggle: 'sprout-address-highlight-countries'
}) }}

<div id="sprout-address-highlight-countries" class="sprout-address-highlight-countries {% if not field.showCountryDropdown %} hidden{% endif %}">
    {{ forms.checkboxSelectField({
        label: "Highlight Countries"|t('sprout-base'),
        instructions: "Select the countries to highlight at the top of the Country dropdown list."|t('sprout-base'),
        name: "highlightCountries",
        options: countries,
        values: field.highlightCountries
    }) }}
</div>

{% css %}
    .sprout-address-highlight-countries .input {
        border: 1px solid #ccc;
        height: 300px;
        overflow: auto;
        padding: 10px;
    }
{% endcss %}