{% extends "sprout/config/_layouts/base-landing" %}
{% import "sprout/config/_includes/sproutcp" as sproutCp %}

{% set title = "Welcome to Sprout Redirects"|t('sprout-redirects') %}
{% set bodyClass = 'sprout-landing-page' %}
{% set assetUrl = view.getAssetManager().getPublishedUrl('@sproutbaseassets/sprout/screenshots', true) -%}
{% set pluginStoreLink = currentUser.admin ? cpUrl('plugin-store/sprout-redirects') : 'https://plugins.craftcms.com/sprout-redirects' %}
{% block content %}

    <div class="sprout-landing">

        {{ parent() }}

        {{ sproutCp.featureHeader({
            heading: "You once were lost. Now you're found."|t('sprout-redirects'),
            message: "Sprout Redirects enables content managers to manage redirects and brand URLs. Monitor 404s, configure advanced redirect rules, and ensure all your content is findable."|t('sprout-redirects'),
            primaryButtonText: "Upgrade Now"|t('sprout-redirects'),
            primaryButtonLink: pluginStoreLink,
            secondaryButtonText: "Learn More"|t('sprout-redirects'),
            secondaryButtonLink: "https://sprout.barrelstrengthdesign.com/docs/redirects"
        }) }}

        {{ sproutCp.featureImage({
            imageUrl: assetUrl ~ '/redirects/sprout-redirects-feature.png',
            altText: 'Sprout Redirects Redirect Manager for Craft CMS'|t('sprout-redirects')
        }) }}

    </div>

{% endblock %}