{% set sites = sites ?? craft.sproutSeo.getSiteIds() %}
{% if sites|length %}
    {% if selectedSite is not defined %}
        {% set selectedSite = sites|first %}
    {% endif %}

    <div>
        <div class="btn menubtn sitemenubtn" data-icon="world">{{ selectedSite ? selectedSite.baseUrl }}</div>
        <div class="menu">
            <ul class="padded">
                {% for site in sites %}
                    {% set url = urlFormat is defined ? url(urlFormat|replace({
                        '{siteId}': site.id
                    })) %}
                    <li><a{% if selectedSite and site.id == selectedSite.id %} class="sel"{% endif %} data-site-id="{{ site.id }}"{% if url %} href="{{ url }}"{% endif %}>{{ site.baseUrl }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
