{% set baseSiteIds = baseSiteIds ?? craft.sproutSeo.getBaseSiteIds() %}
{% if baseSiteIds|length %}
    {% if selectedSiteId is not defined %}
        {% set selectedSiteId = baseSiteIds|first %}
    {% endif %}

    <div>
        <div class="btn menubtn sitemenubtn" data-icon="world">{{ selectedSiteId ? craft.sproutSeo.getBaseSiteById(selectedSiteId).baseUrl }}</div>
        <div class="menu">
            <ul class="padded">
                {% for baseSite in baseSiteIds %}
                    {% set url = urlFormat is defined ? url(urlFormat|replace({
                        '{baseSiteId}': baseSite.id
                    })) %}
                    <li><a{% if selectedSiteId and baseSite.id == selectedSiteId %} class="sel"{% endif %} data-site-id="{{ baseSite.id }}"{% if url %} href="{{ url }}"{% endif %}>{{ baseSite.baseUrl }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
